*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}


.sliding-head{
    color: black;
}

.navbar-div{
    background: linear-gradient(to right, rgb(41, 28, 38), rgb(13, 13, 13));
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 10px;
    position: fixed;
    top: 0;
    height: 8%;
    width: 100%;

}


a{
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
}

.nav-left{
    position: absolute;
    left: 2%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 25px;

}

.nav-right{
    position: absolute;
    right: 2%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.main{
   
    background: linear-gradient(to right, rgb(238, 241, 209), rgb(57, 97, 96));
    padding: 50px;
    padding-top: 80px;
}

li{
    list-style-type: none;
}

h1{
    text-align: center;
    margin-bottom: 0;

}

span{
    color: rgb(160, 87, 19);
    text-decoration: underline;
}

#about,#tour,#history,#food,#weather{
    padding-top: 35px;
}


.about-delhi, .history-div{
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 50px;
    margin-bottom: 150px;
    gap: 100px;
}


.india-gate, .history-image{
    
    width: 600px;
    height: 400px;
}

.india-gate-div, .histrical-pic-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.about-content , .history-content{
    display:flex;
    justify-content: center;
    margin:20px;
    margin-left: 50px;
    flex-grow: 2;
}

.about-delhi-p, .history-p{
    font-size: larger;
}

.tourist-place-div{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.img-div{
    flex-grow: 1;
}

.tourist-place-img{
    width: 400px;
    height: 400px;
}

.image-name{
    font-size: large;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: underline;
}

.weather-info{
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}



.contact-us{
    background: linear-gradient(to right, rgb(232, 181, 181), rgb(200, 210, 152));
    margin-top: 0;
    padding: 50px;
    justify-content: space-around;
    padding-bottom: 200px;
}
.contact-us-div{
   
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 250px;
}

.contact-left-details{
    background-color: white;
    padding: 50px;
    border:2px solid black;
    border-radius:10px;

}

.contact-left, .contact-right{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-grow:1;
    gap: 25px;
}

contact-left.h1{
    margin: 0;
}

.form{
    display:flex;
    flex-direction: column;
    row-gap: 5px;
}


input{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: large;
}

textarea{
    width:100%;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: larger;
}

input::placeholder, textarea::placeholder{
    padding: 5px;
    font-size: large;
    font-weight: bold;

}

.contact-details{
    font-size: larger;
}


.food-div{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px;
    padding-top: 50px;
}

.food-info{
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 50px;
}


.food-img{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 2px;
}

.food-info{
    border: 2px solid black;
    border-radius: 10px;
}


.food-name{
    color: rgb(160, 87, 19);
    text-decoration: underline;
}

.food-detail{
    font-size: larger;
}